.services2 {
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Montserrat", sans-serif;
}
/* .services2 p {
} */
.para {
  color: rgb(156, 156, 156);
}
i {
  font-size: 25px;
}
